body {
  background: linear-gradient(135deg, powderblue, black);
  overflow-x: hidden;
}

.Headerstyle {
  background: linear-gradient(135deg,  #4e73df, #1cc88a);
  color: lightcyan;
  padding: 20px 20px;
  outline-style: solid;
  outline-color: mistyrose;
}

.Headerstyle h1 {
  font-family: Verdana;
  font-weight: 500;
  font-size: 2.5rem;
}

.Headerstyle p {
  font-size: 1.2rem;
  font-family: Helvetica;
}

.Contentstyle h2 {
  font-size: 2rem;
  color: darkcyan;
  font-family: Arial;
  -webkit-text-stroke: 1px black;
}

.move0 h3 {
  font-size: 1.6rem;
  color: gold;
  font-family: Arial;
  -webkit-text-stroke: 1px black;
}

.move0 a {
  transition: color 0.3s;
}

.move0 a:hover {
  color: red;
  border-radius: 5px;
}

.move1 {
  position: relative;
  left: 300px;
  bottom: 303px;
}

.move1 h3 {
  font-size: 1.6rem;
  color: grey;
  font-family: Arial;
  -webkit-text-stroke: 1px black;
}

.move1 a {
  transition: color 0.3s;
}

.move1 a:hover {
  color: red;
  border-radius: 5px;
}

.move2 {
  position: relative;
  left: 775px;
  bottom: 605px;
}

.move2 h3 {
  font-size: 1.6rem;
  color: darkgoldenrod;
  font-family: Arial;
  -webkit-text-stroke: 1px black;
}

.move2 a {
  transition: color 0.3s;
}

.move2 a:hover {
  color: red;
  border-radius: 5px;
}

.move3 {
  position: relative;
  bottom: 605px;
}

.move3 h3 {
  font-size: 1.6rem;
  color: lightgrey;
  font-family: Arial;
  -webkit-text-stroke: 1px black;
}

.move3 a {
  transition: color 0.3s;
}

.move3 a:hover {
  color: red;
  border-radius: 5px;
}

.move4 {
  position: relative;
  left: 775px;
  bottom: 907px;
}

.move4 h3 {
  font-size: 1.6rem;
  color: lightskyblue;
  font-family: Arial;
  -webkit-text-stroke: 1px black;
}

.move4 a {
  transition: color 0.3s;
}

.move4 a:hover {
  color: red;
  border-radius: 5px;
}

.Footerstyle {
   background: linear-gradient(135deg,  #4e73df, #1cc88a);
  color: black;
  padding: 10px 10px;
  outline-style: solid;
  outline-color: mistyrose;
}

.Footerstyle p {
  text-align: center;
  font-family: Georgia;
}

.BackButton {
text-indent: -15px;
padding: 5px 0 5px 10px;
width: 53px;
overflow: auto;
}

.label {
display: block;
width: auto;
line-height: 26px;
font-size: 12px;
font-weight: 900;
font-family: helvetica, sans-serif;
color: #fff;
text-decoration: none;
background-color: darkcyan;
padding: 8px 16px;
border-radius: 5px;
}

.label:hover {
background-color: #ddd;
color: black;
}

.Contentstyle h3 {
  font-size: 1.6rem;
  font-family: Arial;
}

.Contentstyle p {
  font-size: 1.2rem;
  font-family: Helvetica;
}

.Contentstyle a {
  transition: color 0.3s;
}

.Contentstyle a:hover {
  color: red;
  border-radius: 5px;
}

@media (max-width: 600px) {
 .Headerstyle h1 {
    font-size: 1.8rem;
  }
}